<div class="container">
    <div class="">
        <section class="section block has-background">
                <div class="dropdown is-hoverable is-right extra-menu">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span class="icon is-small">
                        <i class="fa-icon fa-more" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item"><p>Select time frame</p></div>
                      <hr class="dropdown-divider" />                      
                      <a class="dropdown-item is-active" href="#">last 2 weeks</a>
                      <div class="dropdown-item">last 1 month</div>
                      <div class="dropdown-item">last 3 months</div>
                      <div class="dropdown-item">last 6 months</div>
                      <div class="dropdown-item">last 1 year</div>
                    </div>
                  </div>
                </div>

            <h1 class="title">Visits</h1>
            <div style="height: 15rem;"><canvas id="pages-status-chart"></canvas></div>
            <div class="summary-numbers columns is-centered pt-6">
                <div class="column">
                    <div class="card is-shadowless">
                        <div class="card-content has-background-link">
                            <h3 class="title is-3 has-text-centered">{$analyticsData.visits}</h3>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Visits</p>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card is-shadowless">
                        <div class="card-content has-background-link">
                            <h3 class="title is-3 has-text-centered">{$analyticsData.unique}</h3>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Unique Visits</p>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card is-shadowless">
                        <div class="card-content has-background-link">
                            <h3 class="title is-3 has-text-centered">{$analyticsData.pages}</h3>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Page views</p>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card is-shadowless">
                        <div class="card-content has-background-link">
                            <h3 class="title is-3 has-text-centered">{$analyticsData.bounce}</h3>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">Bounce rate</p>
                        </footer>
                    </div>
                </div>
            </div> 
            <div>
                <table class="table is-striped full-width">
                {foreach from=$analyticsData.latestVisits item=visit}
                <tr>
                    <td>
                        <div class="fixed-grid has-4-cols">
                            <div class="grid">
                                <div class="cell is-col-span-3">
                                    {$visit.time} (<a href="{$basePath}/visitor/{$visit.sessionId}">{$visit.visitorId}</a>, {$visit.visitorHost}, {$visit.visitorCountry}) 
                                </div>
                                <div class="cell is-row-span-2 is-size-2 has-text-centered is-hoverable {if $visit.viewCount>1}is-clickable has-text-link{/if} session-details" data-session-id="{$visit.sessionId}" data-session-counter="{$visit.viewCount}">
                                    {$visit.viewCount} <span class="is-size-6">pages viewed</span> 
                                </div>
                                <div class="cell is-col-span-2 is-size-4">
                                    <div>
                                        {$visit.siteDomain}
                                        <a href="https://{$visit.siteDomain}{$visit.sitePath}" target="_blank">{$visit.sitePath}</a>
                                    </div>
                                    <div class="is-size-6">
                                        {$visit.reffererUrl} 
                                        {$visit.reffererSite} 
                                        {$visit.reffererType}
                                    </div>
                                </div>
                                <div class="cell has-text-centered">
                                    <i class="fa-icon fa-{$visit.osNameCss}" title="{$visit.osName}"></i>
                                    <i class="fa-icon fa-{$visit.browserNameCss}" title="{$visit.browserName}"></i>
                                    <i class="fa-icon fa-{$visit.browserTypeCss}" title="{$visit.browserType}"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {/foreach}
                </table> 
            </div>
        </section>

        <section class="section block has-background">
            <h1 class="title">Locations</h1>
            <div class="columns">
                <div class="column"style="height: 25rem;"><canvas id="locations-chart"></canvas></div>
                <div class="column">
                    <table class="table is-striped full-width">
                        <tbody id="locations-table">
                            <tr class="summaries-header">
                                <th>Location</th>
                                <th>Count</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="section block has-background">
            <h1 class="title">Browsers</h1>
            {assign var="table" value="browsers"}
            {include file="table.html"}
        </section>

        <section class="section block has-background">
            <h1 class="title">Pages</h1>
            {assign var="table" value="pages"}
            {include file="table.html"}
        </section>


    </div>
</div>

<template id="pages-list-row">
    <div class="cell is-col-span-4 session-row">
        <div class="fixed-grid has-4-cols">
            <div class="grid">
                <div class="coll page-date"></div>
                <div class="coll page-url"></div>
                <div class="coll page-browser"></div>
                <div class="coll page-geo"></div>
            </div>
        </div>
    </div>
</template>

<template id="summaries-row">
    <tr class="summaries-row">
        <td class="summaries-name">USA</td>
        <td class="summaries-count">15</td>
    </tr>
</template>