<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Extra Simple Analytcis</title>
        <link rel="stylesheet" href="{$basePath}/vendor/bulma/bulma.min.css"/>
        <link rel="stylesheet" href="{$basePath}/css/extra.css"/>
        <link rel="icon" href="{$basePath}/esa-icon.svg" type="image/svg"/>
      </head>
      <body>        
        <nav class="navbar">
          <div class="navbar-brand mr-3"><h1 class="title"><a class="navbar-item" href="{$basePath}">Extra Simple Analytcis!</a></h1></div>
          <div class="navbar-menu">
            <div class="navbar-start">
              {foreach from=$maniMenu item=menuItem}
              <a class="navbar-item {$menuItem.active}" href="{$menuItem.url}">{$menuItem.name}</a>
              {/foreach}
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <button class="button" id="theme-toggle"><i class="fa-icon fa-theme" title="theme toggle"></i></button>
              </div>
              <div class="navbar-item">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>{$siteName}</span>
                      <span class="icon is-small">
                        <i class="fa-icon fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <div class="dropdown-item"><p>Select site</p></div>
                      <hr class="dropdown-divider" />
                      {foreach from=$sites item=site}
                      <a class="dropdown-item {if $site.active==1}is-active{/if}" href="{$basePath}/site/{$site.key}">{$site.name}</a>
                      {/foreach}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <main>
          <section class="section">
            <div class="container">
              {if isset($mainBody)}{include file="$mainBody"}{/if}
            </div>
          </section>
        </main>
        <footer class="footer"><div class="content has-text-right">
          <a href="https://github.com/broman-pl/extra-simple-analytcis" target="_blank">extra-simple-analytcis@github</a>
        </div></footer>

        <script src="{$basePath}/vendor/chartjs/chart.js"></script>    
        <script src="{$basePath}/js/report.js"></script>        
      </body>
</html>